kserve==0.15.2
torch==2.6.0
torchvision==0.21.0
transformers==4.54.0
accelerate==1.9.0
bitsandbytes==0.46.1
ftfy==6.3.1
diffusers==0.34.0
pillow==11.3.0
sentencepiece==0.2.0
# huggingface-hub==0.34.3
xformers==0.0.29.post3
