boto3
botocore
grpcio
grpcio-tools
pandas

torch
torchvision
transformers==4.39.3
accelerate==0.28.0
flash-attn
xformers==0.0.25.post1
bitsandbytes==0.43.0
ftfy==6.2.0
git+https://github.com/huggingface/diffusers
