boto3
botocore
scipy
git+https://github.com/ShivamShrirao/diffusers
accelerate
transformers
ftfy
bitsandbytes
gradio
natsort
safetensors
xformers
huggingface-hub
triton
bitsandbytes==0.35.0
natsort
safetensors
xformers
torch
torchvision
